numpy~=1.24.3
Pillow~=10.1.0
fabric
gymnasium~=0.28.1
requests~=2.31.0
transformers~=4.35.2
torch~=2.1.1
accelerate
opencv-python~=4.8.1.78
matplotlib~=3.7.4
pynput~=1.7.6
pyautogui~=0.9.54
psutil~=5.9.6
tqdm
pandas~=2.0.3
flask~=3.0.0
requests-toolbelt~=1.0.0
lxml
cssselect
xmltodict
openpyxl
python-docx
python-pptx
pypdf
PyGetWindow
rapidfuzz
pyacoustid
opencv-python
ImageHash
scikit-image
librosa
pymupdf
chardet
playwright
backoff
formulas
pydrive==1.3.1
fastdtw
odfpy
openai
func-timeout
beautifulsoup4
dashscope
google-generativeai
PyYaml
mutagen
easyocr
borb
pypdf2
pdfplumber
wandb
wrapt_timeout_decorator
gdown
tiktoken
db-dtypes==1.2.0
snowflake==0.7.0
duckdb==0.10.1
google-cloud-bigquery==3.14.1
google-cloud-bigquery-connection==1.15.3
dbt-cloud-cli==0.8.2
nbformat==5.10.4
browsergym-workarena==0.2.1
groq
llama_index
llama-index-embeddings-huggingface